/* Estilos para el modal personalizado */
.my-modal {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.my-modal h2 {
    margin-top: 0;
}
.my-modal button {
    margin-right: 10px;

}
.contain-vehicles{
    display: flex;
    flex-direction: row;
}


