/* Estilos para el modal personalizado */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

.fex-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px); /* Aplicar el efecto backdrop-filter */
  z-index: 999; /* Z-index inferior al del modal */
  display: none; /* Inicialmente oculto */
}
.fex-overlay:hover {
  cursor: progress;
}
.fex-my-modal {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.fex-close-button {
  float: right;
  background-color: #b54d0d;
  color: white;
  font-weight: 400;
  border-radius: 100% !important;
  height: 25px !important;
  width: 25px !important;
  padding: 0px !important;
  font-size: 12px !important;
  border-style: none;
}
.fex-close-button:hover {
  cursor: pointer;
  background-color: #b54d0d;
}
.fex-title-fex {
  margin-top: 0;
  font-size: 30px;
  font-weight: 600;
  color: #b54d0d;
}
.fex-description-shipping {
  margin-top: 0px;
  font-size: 16px;
  color: #b54d0d;
}
.fex-p-fex {
  margin: 0px;
  font-size: 14px;
  color: #b54d0d;
}
.fex-contain-vehicles {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b54d0d;
}
.fex-contain-opt {
  flex: 1; /* Distribuye el espacio disponible por igual entre los elementos */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fex-contain-moto {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fex-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row-reverse;
  gap: 3px;
  font-size: 12px;
  bottom: 0px;
  margin-bottom: 0px !important;
}
.fex-container:hover {
  cursor: pointer;
}
.fex-input-vehicle {
  background: rgba(0, 0, 0, 0.5);
}
.fex-vehicle-icon {
  width: 115px;
  min-width: 115px;
}
.fex-input-vehicle {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  margin-top: 3px;
  margin-bottom: 0px;
}
.fex-input-vehicle:checked {
  background-color: #b54d0d;
}
.fex-contain-address {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fex-contain-address input {
  font-family: "Mulish", sans-serif;
  width: 100px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.305rem 0.75rem;
  font-size: 0.8rem;
  border: 1px solid gray;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s e;
  background: #f8f9fa;
}
.fex-contain-address select {
  font-family: "Mulish", sans-serif;
  width: 126px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.305rem 0.75rem;
  font-size: 0.8rem;
  border: 1px solid gray;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s e;
  background: #f8f9fa;
}
.fex-contain-address label {
  font-family: "Mulish", sans-serif;
  margin: 0px !important;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 4px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s e;
  background: #f8f9fa;
}

.fex-calculate-price {
  font-family: "Mulish", sans-serif;
  margin-top: 10px;
  border-style: none;
  border-radius: 4px;
  padding: 7px 17px; /* Espaciado interno */
  font-size: 13px;
  color: white;
  background: #b54d0d;
}
.fex-price-text {
  font-size: 17px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}
.contain-inputs-date-fex {
  display: flex;
  gap: 5px;
  margin: 5px 0px;
}
#time-fex,
#date-fex {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.305rem 0.75rem;
  font-size: 0.8rem;
  border: 1px solid gray;
  line-height: 1.5;
  border-radius: 0.25rem !important;
  transition: color 0.15s e;
  background: #f8f9fa;
}
.fex-price {
  font-weight: bold;
  color: green;
}
.fex-price-text {
  margin-top: 10px;
}
.fex-calculate-price:hover {
  cursor: pointer;
  background: #b54d0d;
}
.fex-confirm-button {
  margin-top: 10px;
  background-color: #4caf50; /* Color predominante naranja */
  color: white; /* Texto en color blanco para resaltar */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}
.fex-confirm-button:hover {
  background-color: #45a049; /* Color naranja ligeramente más claro al pasar el cursor */
}
.fex-confirm-button:disabled {
  background-color: #ccc; /* Cambia el color de fondo cuando está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor a 'no permitido' cuando está deshabilitado */
  /* ... otros estilos para el estado deshabilitado ... */
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  text-align: center;
  width: 0px;
}

@media screen and (max-width: 800px) {
  .fex-my-modal {
    width: 95%;
    padding: 10px;
    min-width: none;
  }
  .fex-title-fex {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .fex-description-shipping {
    font-size: 14px;
  }
  .fex-vehicle-icon {
    width: 100px;
    min-width: 100px;
  }
  .fex-contain-address {
    display: flex;
  }
  .fex-p-fex {
    font-size: 13px;
  }
  .fex-contain-vehicles {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b54d0d;
  }
  .fex-contain-address {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 5px;
  }
}
@media screen and (max-width: 445px) {
  .fex-my-modal {
    width: 95%;
    max-width: 100%;
    max-height: 85%;
    padding: 10px;
    overflow: auto;
  }
}

@media screen and (max-width: 425px) {
  .fex-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  backdrop-filter: blur(1px); /* Aplicar el efecto backdrop-filter */
  z-index: 999; /* Z-index inferior al del modal */
  display: none; /* Inicialmente oculto */
}
  .fex-my-modal {
    width: 95%;
    padding: 10px;
    overflow: auto;
  }

  .fex-contain-address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
    align-items: center;
    gap: 5px;
  }
  .fex-title-fex {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .fex-description-shipping {
    margin-bottom: 5px;
  }
  .fex-p-fex {
    margin: 0px;
    font-size: 14px;
    color: #b54d0d;
  }
  .fex-vehicle-icon {
    width: 90px;
    min-width: 90px;
  }

  .fex-contain-vehicles {
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 100%;
  }
  .fex-contain-address input {
    width: 84%;
    font-size: 13px;
  }
  .fex-contain-address select {
    width: 100%;
    font-size: 13px;
  }
  .fex-contain-address label {
    width: 100%;
    font-size: 13px;
  }

  .fex-calculate-price {
    font-family: "Mulish", sans-serif;
    margin-top: 10px;
    border-style: none;
    border-radius: 4px;
    padding: 7px 17px; /* Espaciado interno */
    font-size: 13px;
    color: white;
    background: #b54d0d;
  }
}

@media screen and (max-height: 650px)  {
  .fex-my-modal {
    margin-top: 15px;
    width: 95%;
    max-width: 100%;
    max-height: 83%;
    padding: 10px;
    overflow: auto;
    width: 95%;
    padding: 10px;
    overflow: auto;
  }
}
@media screen and (max-height: 580px)  {
  .fex-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  backdrop-filter: blur(1px); /* Aplicar el efecto backdrop-filter */
  z-index: 999; /* Z-index inferior al del modal */
  display: none; /* Inicialmente oculto */
}
  .fex-my-modal {
    margin-top: 15px;
    width: 95%;
    max-width: 100%;
    max-height: 83%;
    padding: 10px;
    overflow: auto;
    width: 95%;
    padding: 10px;
    overflow: auto;
  }

  .fex-contain-address {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    align-items: center;
    gap: 5px;
  }
  .fex-title-fex {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .fex-description-shipping {
    margin-bottom: 5px;
  }
  .fex-p-fex {
    margin: 0px;
    font-size: 14px;
    color: #b54d0d;
  }
  .fex-vehicle-icon {
    width: 90px;
    min-width: 90px;
  }

  .fex-contain-vehicles {
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 100%;
  }


  .fex-calculate-price {
    font-family: "Mulish", sans-serif;
    margin-top: 10px;
    border-style: none;
    border-radius: 4px;
    padding: 7px 17px; /* Espaciado interno */
    font-size: 13px;
    color: white;
    background: #b54d0d;
  }
}

@media screen and (max-height: 450px) {

  .fex-my-modal {
    margin-top: 30px;
    
  }
}